<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1 class="title">
        <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="/#about">
          pclalv
        </a>
      </h1>
    </div>

    <nav class="sidebar-nav">
      <label for="projects">Projects</label>
      <ul class="projects">
        <li>
          <a class="sidebar-nav-item" href="/#loopdigger">Loopdigger</a>
        </li>
        <li>
          <a class="sidebar-nav-item" href="/#bouncycastleroids">Bouncycastleroids</a>
        </li>
        <li>
          <a class="sidebar-nav-item" href="/#rails-lite">Rails Lite</a>
        </li>
      </ul>

      <a class="sidebar-nav-item" href="/#contact">Contact</a>

      <a class="sidebar-nav-item" href="paul-alvarez.pdf">Resume</a>

    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
